* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
  }

  div {
    position: relative;
    z-index: 2;
    display: block;
  }

  body {
    background-color: #333;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #quote-box {
    border-radius: 3px;
    position: relative;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  #quote-box .box-author {
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1.3em;
    text-align: right;
  }

  .fa {
    font-size: 1em;
  }

  #quote-box button {
    float: right;
  }

  #tweet-quote {
    float: left;
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
  }

  #text {
    font-size: 2em;
    color: black;
  }

  #quote-box #new-quote {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
  }

  #tweet-quote {
    background-color: #333;
    font: 19.2px;
    color: #ffffff;
    margin: 30px 5px 0px 0px;
    padding: 8px 0px 0px;
    height: 38px;
    border-radius: 3px;
  }

  #fa {
    font-size: 2em;
  }

  .box-text {
    text-align: center;
  }

  .text-autor-box {
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
    animation: show 1.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .footer {
    text-align: center;
    padding-top: 0.7em;
    color: #fff;
  }

  .fade-in-text {
    animation: fade-in-text 1.3s ease-in-out;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
    animation: fade-in-text 1.3s ease-in-out;
  }

  .fade-in-animation {
    animation: fade-in-text 1.3s ease-in-out;
  }

  @keyframes fade-in-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .final-state {
    opacity: 1 !important;
  }